* {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    text-decoration: none;
}
.link-imagen{
    width: 120px;
    height: auto;
}

.containerImg {
    position: relative;
}

.imgPro {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.degrade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(rgb(0, 0, 0, 0), 80%, rgb(50, 50, 50, 1));

}

.descrip {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .7rem;
    font-size: 10pt;
    font-weight: bold;
    line-height: 15px;
    color: #fafafa;
}

.price {
    max-width: fit-content;
    background-color: #212529;
    color: #fafafa;
    border-radius: 10rem;
    font-size: medium;
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 3px 10px;
}

@media (max-width: 280px){
    .descrip{
        font-size: small;
        line-height: 13px;
        padding: 0.5rem;
    }
    .price{
        font-size: small;
    }
}